<div class="_css_footer animated fadeInUp">
    <span class="_css_footer__text">© 2018 c4c</span>
    <div class="_css_footer__socials">
        <a class="_css_icon-facebook _css_footer__socials--icon _css_footer__socials--icon-fb" href="https://www.facebook.com/CreateWebPages/"
            target="_blanck"></a>
        <a class="_css_icon-twitter _css_footer__socials--icon _css_footer__socials--icon-tw" href="" target="_blanck"></a>
        <a class="_css_icon-instagram _css_footer__socials--icon _css_footer__socials--icon-inst" href="" target="_blanck"></a>
        <a class="_css_icon-google-plus3 _css_footer__socials--icon _css_footer__socials--icon-google" href="" target="_blanck"></a>
    </div>
</div>